page-obreiro-list {
    .lista li {
        padding: 1px;
    }
    .titulo-left {
        float: right;
        margin-right: 10px;
        font-size: small;
    }
    .item-left {
        float: right;
        font-size: small;
    }
}